# ROS2 build artifacts
ros2/build/
ros2/install/
ros2/log/

# Python bytecode
**/__pycache__/
**/*.py[cod]

# IDE / Editor settings
.vscode/
.idea/

# OS temp files
*.swp
.DS_Store

# PC-side ROS2 workspace artifacts
pc_control/build/
pc_control/install/
pc_control/log/
